.container {
  display: flex;
  flex-direction: column;
}

.bruxo {
  margin: 0px 15px 15px 15px;
}

.bruxo img {
  width: 150px;
  height: 200px;
  border: 3px solid yellow;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
}

.bruxo img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.bruxo h1 {
  font-size: 22px;
  color: yellow;
}

.bruxo p {
  font-size: 18px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .bruxo img {
    width: 200px;
    height: 270px;
  }
}
