button {
  height: 3rem;
  width: 10rem;
  margin-bottom: 40px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: white;
  color: black;
}
